#aloe{
    background: linear-gradient(90deg,rgb(181, 204, 214), rgb(144, 139, 207));
}
#ant{
    background: linear-gradient(90deg,rgb(141, 224, 199), rgb(195, 221, 208));
}
#cactus{
    background: linear-gradient(90deg,rgb(233, 207, 228), rgb(217, 140, 236));
}
#geran{
    background: linear-gradient(90deg,rgb(226, 166, 87), rgb(226, 196, 157));
}
#mirt{
    background: linear-gradient(90deg,rgb(224, 204, 238), rgb(183, 115, 228));
}
#orhid{
    background: linear-gradient(90deg,rgb(224, 61, 61), rgb(226, 206, 206));
}
#spat{
    background: linear-gradient(90deg,rgb(183, 182, 231), rgb(73, 70, 202));
}
#tolst{
    background: linear-gradient(90deg,rgb(238, 220, 56), rgb(248, 253, 212));
}
.head{
    display: flex;
    position: relative;
    top:8px;
    justify-content: space-around;
}
a{
    background: whitesmoke;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}
p{
    text-align: center;
}
.return2{
    display: block;
    position: absolute;
    top:6px;
    left: 0;
    background:rgba(70, 77, 172, 0);
    font-size: 200%;
}    
.return1{
    display: none;
}
@media (max-device-width:1000px){
    .return1{
        display: block;
        background:rgba(70, 77, 172, 0);
        margin-left: 30px;
    }
    .return2{
        display: none;
    }
}
